#btnIniciarSesion{
    border: 1px solid white;
    color: white;
    transition: all 0.2s linear;
}
#btnIniciarSesion:hover{
    background-color: white;
    color: #212529;
    border: 1px solid #212529;
}