<div class="notification-container" >
    @if (notificacionVisible) {
        <div class="notification-message" id="notificacion" (animationend)="eliminarNotificacion()">{{ notificationMessage }}</div>
    }
</div>

<ng-template #loginModal let-c="close" let-d="dismiss">
  @if (!this.resetPassword) {
	<div class="modal-header">
        
		<h4 class="modal-title" id="modal-basic-title">Bienvenido a Devthreads!!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
    <form method="POST" (submit)="login($event)">
	<div class="modal-body">
            <p id="errorLogin">{{ errorLogin }}</p>
			<div class="form-group">
				<label for="username">Nombre de usuario</label>
				<input type="text" class="form-control" id="username" placeholder="Introduce tu nombre de usuario" required  autocomplete="on">
			</div>
			<div class="form-group">
				<label for="password">Contraseña</label>
				<input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña" required  autocomplete="on">
			</div>
		
	</div>
	<div class="modal-footer d-flex flex-column">
    <div class="d-flex justify-content-end w-100">
      <input type="submit" value="Iniciar sesión" class="btn btn-outline-dark me-1">
      <button id="btnRegistro" type="button" class="btn btn-outline-dark">Regístrate</button>
    </div>
    
      <div class="d-flex justify-content-end w-100">
        <p class="text-primary text-decoration-underline" style="cursor: pointer;" (click)="onResetPassword()">¿Has olvidado tu contraseña?</p>
      </div>
    </div>
  </form>
  }@else {
    <div class="modal-header">
        
      <h4 class="modal-title" id="modal-basic-title">¿Olvidaste tu contraseña?</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <app-recuperar-contrasena (passwordChangeComplete)="onResetPassword()"></app-recuperar-contrasena>
  }
    
  
</ng-template>

<ng-template #registerModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Regístrate en Devthreads</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="register($event)">
        <div class="mb-3">
            @if(errorUsuarioEmail){
                <div class="text-danger">{{errorUsuarioEmailMessage}}</div>
            }
          <label for="userName" class="form-label">Nombre de usuario</label>
          <input type="text" class="form-control" id="userNameRegister" formControlName="userNameRegister" required>
          @if (registerForm.get('userNameRegister').invalid && registerForm.get('userNameRegister').touched) {
            <div class="text-danger">
                Nombre de usuario es requerido.
            </div>
          }
        
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="email" formControlName="email" required>
        @if (registerForm.get('email').invalid && registerForm.get('email').touched) {
            <div class="text-danger">
                Correo electrónico no es válido.
            </div>
        }
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" required >
            @if (registerForm.get('firstName').invalid && registerForm.get('firstName').touched) {
                <div class="text-danger">
                Nombre es requerido.
                </div>
            }
          </div>
          <div class="col">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" required >
            @if (registerForm.get('lastName').invalid && registerForm.get('lastName').touched) {
                <div class="text-danger">
                Apellido es requerido.
                </div>
            }
          </div>
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Número de teléfono</label>
          <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" pattern="[0-9]{9}">
            @if (registerForm.get('phoneNumber').invalid && registerForm.get('phoneNumber').touched) {
                <div class="text-danger">
                    Número de teléfono no es válido.
                </div>
            }
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="passwordRegister" formControlName="passwordRegister" required>
          @if (registerForm.get('passwordRegister').invalid && registerForm.get('passwordRegister').touched) {

          <div class="text-danger">
            La contraseña debe tener al menos 8 caracteres y un número.
          </div>
        }
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required>
          @if (registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched) {
            <div  class="text-danger">
                Las contraseñas no coinciden.
            </div>
        }
        </div>
        <div class="mb-3">
          <label for="profileImage" class="form-label">Foto de perfil</label>
          <input type="file" class="form-control" id="profileImage" formControlName="profileImage" accept="image/*">
        </div>
        <input type="submit" class="btn btn-outline-dark" value="Registrarse" [disabled]="registerForm.invalid"/>
      </form>
    </div>
  </ng-template>
  

@if (!loggedIn) {
    <button id="btnIniciarSesion" class="btn" (click)="open(loginModal)">Iniciar sesión</button>
} @else {
    <button id="btnCerrarSesion" class="btn" (click)="cerrarSesion()">Cerrar sesión</button>
}
