#mensajes{
    position: fixed;
    width: 20%;
    min-width: 400px;
    bottom: 0px;
    z-index: -2;
}


.conversation-list {
    position: relative;
}

#new-message-btn {
    margin-top: 10px;
    position: absolute;
    right: 30px;
    background-color: #1c2122;
    border: 2px solid #1d2124;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(240,223,240,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(240,223,240,1);
    box-shadow: 0px 0px 5px -2px rgba(240,223,240,1);
    transition: all 0.3s ease;
}

#new-message-btn:hover{
    background-color: #23292a;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(240,223,240,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(240,223,240,1);
    box-shadow: 0px 0px 5px 2px rgba(240,223,240,1);
}

#boton-mensajes{
    background-color: #131617;
    padding: 10px 20px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px -1px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px -1px 5px 0px rgba(255,255,255,1);
    cursor: pointer;
    border: none;
}

#mensajes-directos{
    display: none;
    background-color: #131617;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    border: none;
}

#mensajes-directos ul{
    border: none;
    list-style: none;
    margin-bottom: 0px;
    max-height: 430px;
    overflow-y: scroll;
}



.bg-user{
    border-radius: 4px;
    margin-right: 3px;
    justify-content: flex-end;

}
.bg-user p{
    background-color: #cc4c92;
    padding: 5px;

}
.bg-other p{
    background-color: #402f48;
    padding: 5px;


}
.bg-other{
    border-radius: 4px;
    margin-left: 3px;
    justify-content: flex-start;
    
}

.bg-other span{
    width: 32px;
    height: 32px;
    align-self: flex-end;
    text-align: center;
    line-height: 32px;
}

.conversationContainer{
    overflow-y: scroll;
    max-height: 450px;
}

.conversationContainer::-webkit-scrollbar {
    display: none;
}
.usersList::-webkit-scrollbar {
    display: none;
}
.usersList{
    min-height: 70px;
}


.newMessage{
    -webkit-box-shadow: 1px 1px 5px -2px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 5px -2px rgba(255,255,255,1);
    box-shadow: 1px 1px 5px -2px rgba(255,255,255,1);
}

.searchusers{
    -webkit-box-shadow: 1px 1px 5px -2px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 5px -2px rgba(255,255,255,1);
    box-shadow: 1px 1px 5px -2px rgba(255,255,255,1);
    border: 1px solid white;
}

#searchList{
    overflow-y: scroll;
}

#searchList::-webkit-scrollbar {
    display: none;
}
.mensajeInput{
    width: 90%;
    border: none;
    outline: none;
}
.userInput{
    width: 90%;
    border: none;
    outline: none;
}




.bi-send{
    cursor: pointer;
    color: #696969;
    transition: all 0.1s linear;
}
.bi-send:hover{
    color: white;

}



.chatbox::-webkit-scrollbar {
    display: none;
  }
.chatbox{
    overflow: hidden;
    padding: 10px 20px 10px;
}
.chatbox .chat{
    display: flex;
    list-style: none;
    margin: 2.5px 0;

}
.chatbox p{
    white-space: pre-wrap;
    color: white;
    max-width: 75%;
    padding: 6px 8px;
    word-wrap:break-word;
    border-radius: 5px;
    margin-bottom: 2px !important;
}
