@if (loggedInUser) {
    <div id="mensajes" style="right: 20px;">
        <button id="boton-mensajes" class="text-white" (click)="mostrarMensajes()" type="button">Mensajes directos</button>
    
        <div id="mensajes-directos" [ngStyle]="{'display': mostrar ? 'block' : 'none'}">
            @if (!conversationDetail) {
                <ul class="usersList">
                        <button id="new-message-btn" class="text-white rounded-circle" type="button" (click)="onNuevaConversacion()"><i class="bi bi-envelope-plus-fill"></i></button>
                        @if (buscaUsuarios) {
                            <div class="searchUsers">
                                <input type="text" name="searchUsersInput" id="searchUsersInput" placeholder="Escribe un usuario" class="bg-transparent text-white p-3 mensajeInput" [(ngModel)]="value" (keyup)="onBuscaUsuarios()">
                            </div>
                            <ul>
                                @for (user of searchedUsersArray; track $index) {
                                    <li class="text-white py-2"><a (click)="onLoadConversation(user.user_id, user.user_name, user.user_image)" class="text-white text-decoration-none" style="cursor: pointer;"><img [src]="'data:image/png;base64,'+ user.user_image" alt="" width="50px"  class="rounded-circle" style="height: 50px;"> <span> {{user.user_name}}</span></a></li>
                                }
                            </ul>
                        }
                        
                    @for (user of userMessageConversations; track $index) {
                            <li class="text-white py-2"><a (click)="onLoadConversation(user.sender_id, user.sender_name, user.sender_image)" class="text-white text-decoration-none" style="cursor: pointer;"><img [src]="'data:image/png;base64,'+ user.sender_image" alt="" width="50px"  class="rounded-circle" style="height: 50px;"> <span> {{user.sender_name}}</span></a></li>
                        
                    }
                </ul>
            }@else {
                    <div class="py-2">
                        <span><i class="bi bi-arrow-left text-white fs-4 px-3" (click)="onOutOfConversation()" style="cursor: pointer;"></i> <img [src]="'data:image/png;base64,'+ this.userConversationDetail.user_image" alt="" width="50px"  class="rounded-circle" style="height: 50px;"> <span class="text-white"> {{this.userConversationDetail.user_name}}</span>                    </span>
                    </div>

                    <div class="conversationContainer">
                        <ul class="chatbox" #scroll [scrollTop]="scroll.scrollHeight">
                            @for (message of usersConversations; track $index) {
                                @if (message.sender_id == this.loggedInUser.user_id) {
                                    
                                        <li class="chat bg-user">
                                            <p>{{message.message_text}}</p>
                                        </li>
                                }@else{
                                        <li class="chat bg-other">
                                            <p>{{message.message_text}}</p>    
                                        </li>

                                }
                            }
                        </ul>
                            
                            
                    </div>
                    <div class="newMessage">
                        <input type="text" name="mensajeInput" id="mensajeInput" placeholder="Escribe un mensaje" class="bg-transparent text-white p-3 mensajeInput" [(ngModel)]="value" (keyup.enter)="onSentMessage()"><i class="bi bi-send" (click)="onSentMessage()"></i>
                    </div>
                        
                    
                
            }
            
        </div>
    </div>
    
}
