<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar vh-100 pt-5 sticky-top">
      <div class="pt-5 sidebar-sticky d-flex justify-content-center">
        <ul class="nav flex-column">
          <li class="nav-item mb-4">
            <a class="nav-link" (click)="onNavigate('main')"><i class="bi bi-house fs-4 me-2"></i><span>Para mí</span></a>
          </li>
          <li class="nav-item mb-4">
            <a class="nav-link" ><i class="bi bi-search fs-4 me-2"></i><span>Explorar</span></a>
          </li>
          @if (this.loggedInUser) {
            <li class="nav-item mb-4">
              <a class="nav-link" ><i class="bi bi-chat-left-dots fs-4 me-2"></i><span>Mensajes</span></a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" (click)="onNavigate('profile')"><i class="bi bi-person fs-4 me-2"></i><span>Perfil</span></a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" ><i class="bi bi-gear fs-4 me-2"></i><span>Ajustes</span></a>
            </li>
          }
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-8 ml-sm-auto col-lg-8 px-md-4">
      @if (contenidoMostrado == 'main') {
        <app-main></app-main>
      }@else if(contenidoMostrado == 'profile'){
        <app-user-profile [user]="this.loggedInUser"></app-user-profile>
      }
    </main>

    <aside class="col-md-2 d-none d-md-block bg-dark vh-100 pt-5 sticky-top">
        <app-login (logedUserEmitter)="setLoggedInUser($event)"></app-login>
    </aside>
  </div>
</div>