<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar vh-100 pt-5 sticky-top">
      <div class="pt-5 sidebar-sticky d-flex justify-content-center">
        <ul class="nav flex-column">
          <li class="nav-item mb-4">
            <a class="nav-link" routerLink="main" (click)="reloadTweets()"><i class="bi bi-house fs-4 me-2"></i><span>Para mí</span></a>
          </li>
          <li class="nav-item mb-4">
            <a class="nav-link" (click)="onSearchModal(searchModal)" style="cursor: pointer;"><i class="bi bi-search fs-4 me-2"></i><span>Explorar</span></a>
          </li>
          @if (this.loggedInUser) {
            <li class="nav-item mb-4">
              <a class="nav-link" routerLink="profile/{{this.loggedInUser.user_name}}"><i class="bi bi-person fs-4 me-2"></i><span>Perfil</span></a>
            </li>
          }
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-8 ml-sm-auto col-lg-8 px-md-4">
      <router-outlet></router-outlet>
      
      
    </main>

    <aside class="col-md-2 d-none d-md-block bg-dark vh-100 pt-5 sticky-top">
        <app-login></app-login>
    </aside>
  </div>
</div>



<ng-template #searchModal let-c="close" let-d="dismiss">
	<div class="modal-header">
        
		<h4 class="modal-title" id="modal-basic-title" class="text-white ">Buscar</h4>
		<button type="button" class="btn-Cerrar" (click)="closeModal()"><i class="bi bi-x-lg text-white "></i></button>
	</div>
	<div class="modal-body">
			<div class="form-group">
				<input type="text" class="form-control" id="searchInput" data-autofocus placeholder="Escribe tu búsqueda" required autocomplete="on" class="p-3" #inputSearchRef (keyup.enter)="onSearchClick(inputSearchRef.value)">
        <i (click)="onSearchClick(inputSearchRef.value)" class="bi bi-search text-white ps-3" style="cursor: pointer;"></i>
			</div>
		
	</div>
</ng-template>